<div>
  <h3>Log in to access your Tasks</h3>
  <form class="login-form" action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">

    <input type="submit" value="submit">
  </form>
</div>
