<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>

    <nav>
      <% if current_user %>
        <a href="/logout">Log Out</a>
      <% end %>
    </nav>

    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
</html>
