<h1>Welcome, <%= @user.username %>!</h1>
<p>FYI your user id is <%= @user.id %></p>
<div>
  <h3>Your Categories</h3>
  <ul>
    <% @user.lists.each do |list| %>
    <li>
      <a href="/todo/<%=list.id%>">
        <%= list.title %>
      </a>
    </li>
    <% end %>
  </ul>
</div>

<div>
  <a href="#">Add a Category</a>

</div>
