<h1>Welcome, <%= params[:user] %>!</h1>

<div>
  <h3>Your Categories</h3>
  <ul>
    <li>Running Goals</li>
    <li>Things to Bake</li>
    <li>Cocktails to Make</li>
  </ul>
</div>

<div>
  <a href="#">Add a Category</a>

</div>
